<div class="uk-container">
  <nav class="uk-navbar-container2" uk-navbar>
    <div class="uk-navbar-left">
      <div class="uk-inline">
        <a class="uk-navbar-item uk-logo" href="#">
          <span class="uk-form-icon" uk-icon="icon: bolt"></span>
        </a>
      </div>
      <ul class="uk-navbar-nav">
        <li class="uk-active">
          <a href="">
            Tracker
          </a>
        </li>
        <li class="uk-parent">
          <a href="">
            Timesheets
          </a>
        </li>
      </ul>
    </div>
    <div class="uk-navbar-right">
      <div class="uk-inline">
        <button
          type="button"
          class="uk-button uk-button-default"
          {{on "click" this.logout}}
        >
          <span class="uk-form-icon" uk-icon="icon: sign-out"></span>
          logout
        </button>
      </div>
    </div>
  </nav>
</div>
{{outlet}}